@font-face {
	font-family: 'FZLTHJW';
	src: url('FZLTHJW.TTF');
}

body, html {
  margin: 0;
  padding: 0;
  font: normal 12px/180% "Microsoft YaHei";
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #f2ebe2;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
ul, li {
  list-style-type: none;
}
.pc .ox {
  display: block !important;
}
a {
  color: unset;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
a:hover {
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td {
  margin:0;
  padding:0;
}

:-moz-placeholder {
  color: #d08282;
}
::-moz-placeholder {
  color: #d08282;
}
input:-ms-input-placeholder {
  color: #d08282;
}
input::-webkit-input-placeholder {
  color: #d08282;
}

input{
  border: 0;
  outline: none;
}
a {
  text-align: center;
}
/* 水波纹 */
.ripple-effect {
  background-color: rgba(204, 12, 23, .8);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  animation-name: ripple;
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 800px;
    height: 800px;
    opacity: 0;
  }
}
.content {
  height: 92%;
  width: 100%;
  position: relative;
}
textarea{ resize:none;}
/* 滚动条 */
::-webkit-scrollbar {  
  width: 5px;    
  background-color: #fff;  
}  

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {  
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #9d9d9d;
}

input::-webkit-input-placeholder {
  color: #c5c5c5;
}
input::-moz-placeholder {
  color: #c5c5c5;
}
input:-moz-placeholder {
  color: #c5c5c5;
}
input:-ms-input-placeholder {
  color: #c5c5c5;
}

textarea::-webkit-input-placeholder {
  color: #c5c5c5;
}
textarea::-moz-placeholder {
  color: #c5c5c5;
}
textarea:-moz-placeholder {
  color: #c5c5c5;
}
textarea:-ms-input-placeholder {
  color: #c5c5c5;
}

.main-title {
  height: 8%;
  position: relative;
  background-color: #ba2517;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;
  box-shadow: 1px 1px 5px #888888;
}

.main-title img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 38px;
}

.title-bar {
  font-size: 22px;
  color: #a24f4f;
  line-height: 55px;
  height: 55px;
  margin: 0 20px;
  position: relative;
  margin-top: 10px;
}

.fixed-button {
  background-color: #928e8d;
  font-size: 15px;
  width: 120px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: block;
}

.card-box {
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: 0;
}

.card {
  background-color: white;
  line-height: 40px;
  padding: 0 10px;
  color: #606060;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.table-box input[type=radio], input[type=checkbox] {
  height: 21px;
  width: 21px;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 3px;
}

.table-box input[type=radio]:after  {
  content: "";
  display:block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #ab2323;
  background-color: #fff;
  box-sizing:border-box;
  position: relative;
  left: 0;
}

.table-box input[type=radio]:checked:after  {
  content: "";
  transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
  -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
  border: 4px solid #c86b6e;
}

.table-box input[type=checkbox]:after  {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #c86b6e;
  background-color: #fff;
  box-sizing: border-box;
}

.table-box input[type=checkbox]:checked:after  {
  content: '\2714';
  background-color: #c86b6e;
  border: 2px solid #c86b6e;
}

.content {
  margin: 0 auto;
  margin-top: 10px;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.button-bar {
  text-align: center;
  margin: 20px 0;
}

.button-bar .block-button {
  background-color: #b7241c;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

/* switch */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 100px;
  margin: 0 5px;
  margin-bottom: -10px;
  cursor: pointer;
}

.switch input {
  display:none;
}

.switch .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.switch .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.switch input:checked + .slider {
  background-color: #66bb6a;
}

.switch input:checked + .slider:before {
  transform: translateX(66px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}


.switch .text {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  line-height: 34px;
  font-size: 12px;
  left: 10px;
  color: white;
}

