
.fixed-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.selection-table {
  border: 1px solid #ccc;
  width: 100%;
  border-bottom: none;
}

.selection-table tr {
  line-height: 40px;
  font-size: 16px;
  color: #606060;
}

.selection-table td {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.selection-table th {
  background-color: #d2d2d2;
  border: none;
  font-size: 16px;
  color: #606060;
  padding: 0 10px;
}

.table-box {
  overflow: auto;
}

.select-td {
  color: #b5b5b5;
  
  background: border-box;
}

.select-td .is-check {
  color: #ab2323
}

tbody {
  background-color: white;
}

.bottom-button-box {
  margin: 10px 20px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: #606060;
  align-items: center;
  text-align: center;
}

.bottom-button-box input[type=button] {
  height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  color: white;
  background-color: #ab2323;
  width: 90px;
  font-size: 16px;
  cursor: pointer;
}

.bottom-button-box input[type=text] {
  height: 37px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100px;
}

.bottom-button-box span {
  margin-left: 10px;
}

.gray {
  background-color: #928e8d !important;
}

table input[type=button] {
  color: #606060;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
}

table input[type=button]:hover {
  color: #f70b0b;
}

.judges-box {
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.judges-box .top {
  line-height: 40px;
  text-align: center;
  color: #606060;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.judges {
  height: 45px;
  line-height: 45px;
  color: #606060;
  margin: 0 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #f9e9e9;
}

.judges input {
  background-color: #f4f4f4;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 5px;
}

.judges .name {
  margin-right: 60px;
}

.content {
  height: calc(92% - 60px);
  overflow: auto;
}