
.fixed-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.selection-table {
  border: 1px solid #ccc;
  width: 100%;
}

.selection-table tr {
  line-height: 40px;
}

.selection-table td {
  text-align: center;
}

.selection-table th {
  background-color: #d2d2d2;
  border: none;
  font-size: 16px;
  color: #606060;
}

.title-box {
  margin: 0 20px;
}